[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "themes/hugo-brewm"]
	path = themes/hugo-brewm
	url = https://github.com/foxihd/hugo-brewm
